# N-CASA Manual Test - Juniper
set system host-name N-CASA-JUNIPER-FW
set system services ssh
delete system services telnet
set system services web-management https
delete system services web-management http
set system syslog host 10.10.10.10 any info
set system ntp server 10.10.10.20
set interfaces ge-0/0/0 unit 0 family inet address 192.0.2.20/30
set interfaces ge-0/0/1 unit 0 family inet address 198.51.100.20/24
set security zones security-zone trust interfaces ge-0/0/1.0
set security zones security-zone untrust interfaces ge-0/0/0.0
set security policies from-zone untrust to-zone trust policy DEFAULT-DENY match source-address any
set security policies from-zone untrust to-zone trust policy DEFAULT-DENY match destination-address any
set security policies from-zone untrust to-zone trust policy DEFAULT-DENY match application any
set security policies from-zone untrust to-zone trust policy DEFAULT-DENY then deny
